.navbar-custom {
    background-color: #001c41;
    font-size: x-large;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom img 
{ 
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
}

.navbar-custom .nav-link:hover {
    text-decoration: underline;
    text-decoration: none;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

*{
    font-family: 'Roboto', sans-serif;
}

span{
    font-size: xx-large;
}


.principal{
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "head head head"
                          "rastrea rastrea rastrea"
                          "nada menu2 nada1 "
                          "nada info nada1"
                          "pie pie pie";
}
.cabecera{
    grid-area: head;
}


.rastrea {
    grid-area: rastrea;
    background-image: url('../img/imagenPrincipal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioRastreo input {
    height: 40px;
    width: 220px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "titulo"
        "boton";
    border: none;


}

.formularioRastreo input:hover{
    background-color: #f2f2f2;
}

.lblEnvio {
    color: white;
    grid-area: titulo;
}

.cuadroBotonRastrear {
    grid-area: boton;
    display: flex;
}

.cuadroBotonRastrear button {
    background-color: #FFC107;
    border: none;
    color: black;
}

.cuadroBotonRastrear button:hover{
    background-color: #ff8000;
    color: white;
}

.menuOpciones {
    grid-area: menu2;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cajitas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.cajitas a {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #001c41;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.cajitas a:hover {
    transform: translateY(-5px);
    color: #FF8000;
}

.cajitas a img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cajitas a:hover {
    text-decoration: underline;

}

.parrafoServicios {
    border-bottom: 2px solid #001c41;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "nada parrafo nada1";

}

.parrafito {
    grid-area: parrafo;
    text-align: justify;
}


.infoEmpresa {
    grid-area: info;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas: "nadas texto imagen nadas1";
    gap: 15px;
    background-color: white;
    
}

.textoEmpresa {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.textoEmpresa h1{
    font-size: 2rem;
    color: #001c41;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid #ffcc00; /* Línea debajo del título */
    display: inline-block;
    padding-bottom: 5px;
}

.textoEmpresa p {
    font-size: 1rem;
    color: #333333;
    line-height: 1.6;
    margin: 10px 0;
}

.imagenEmpresa {
    grid-area: imagen;
}

.imagenEmpresa img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.piePagina {
    grid-area: pie;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "nades uno dos tres nades1";
    background-color: #001c41;
    color: white;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;

}

.tres {
    grid-area: tres;
}

.piePagina p:hover{
    text-decoration: underline;
    text-decoration: none;
    color: #ffcc00;
    transform: scale(1.05);
    transition: all 0.3s ease;

}