.principal{
    background-color: #f2f2f2;
}

.navbar-custom {
    background-color: #001c41;
    /* Cambia este color según tu preferencia */
    font-size: x-large;
}

.navbar-custom .navbar-brand {
    color: white;
    /* Cambia el color del texto de la marca */
}

.navbar-custom img 
{ 
    width: 60px; 
    height: auto; 
    margin-right: 10px; 
}
span{
    font-size: xx-large;
}


.formulario {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "nada form nada1";
    

}

.formulario .formularioEnviar{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;

}

.formulario .formularioEnviar input{
    width: 400px;
    height: 50px;
    border: none;
}

.formulario .formularioEnviar input:hover{
    background-color: #f2f2f2 ;
}

.formulario .formularioEnviar button{
    width: 400px;
    height: 50px;
    border: none;
    background-color: #FFC107 ;
}

.formulario .formularioEnviar button:hover{
    background-color: #ff8000;
    color: white;
}






.piePagina{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "nades uno dos tres nades1" ;
    background-color: #001c41;
    color: white;
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: dos;

}

.tres{
    grid-area: tres;
}